img[alt=diag] { width: 60;}
.reveal table th {
	font-weight: bold;
}

.reveal section p {
    font-size: 0.65em;
}


.reveal table th,
.reveal table td {
	text-align: left;
	font-size: 0.55em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}
