.reveal pre code {
  font-size: 0.8em;
  line-height: 1.0;
}

.reveal pre {
  width: 100%;
  margin-left: 0%;
}
.reveal section img {
  border: 0;
  box-shadow: none;
}

#images{
    text-align:center;
    margin:50px auto; 
}
#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }
